@import "tailwindcss";

@theme {

  --shadow-color: #a4a4a4;
  
  /* Colors */

  --prim-color: #d20f74;

  --modal-bg: #ffffff78;

  --neutral-button-bg: #e4e4e4;
  --red-button-bg: #e10000;

  --highlight-text: #ff9a20;

  --table-rows-color: #ffe3f1;

  /* Fonts */

  --newsreader: 'Newsreader', serif;
  --nunito: 'Nunito Sans', sans-serif;
}

body {
}

@layer components {

    /* General components styles */

    

    /* Login form styles */
    #login::before {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        background-color: #e5e5f7;
        opacity: 0.8;
        background-image: radial-gradient(circle at center center, #f0cdff, #e5e5f7), repeating-radial-gradient(circle at center center, #f0cdff, #f0cdff, 17px, transparent 34px, transparent 17px);
        background-blend-mode: multiply;
        filter: blur(4px);
    }

    #login {
        @apply w-dvw h-dvh flex items-center justify-center relative z-10 bg-[#111b];
        
        
        .login-container {
            @apply bg-white px-30 py-20 min-w-[500px] flex flex-col items-center justify-center rounded-lg z-10;
            box-shadow: 0 0 10px #111;

            .title {
                @apply mb-10 flex flex-col justify-center items-center gap-4;

                h1 {
                    @apply font-(family-name:--newsreader) text-2xl font-bold text-black ;
                }
            }

            .login-form {
                @apply flex flex-col w-full items-center justify-center gap-5;

                .input {
                    @apply w-full flex flex-col items-center justify-center;

                    label {
                        @apply w-full self-start font-(family-name:--nunito) font-bold;
                    }

                    input {
                        @apply w-full border-2 rounded-sm px-2 py-2 font-(family-name:--nunito);
                    }

                    .password {
                        @apply w-full;
                    }
                }

                input[type='submit'] {
                    @apply bg-black py-2 px-5 text-white cursor-pointer rounded-sm font-(family-name:--newsreader) font-bold text-lg;
                }
            }
        }
    }


    /* Dashboard Styles */

    #dashboard {
        @apply w-dvw h-dvh;

        #dashboard-content {
            @apply pt-[50px] w-full h-full relative;
            
            .back-button {
                @apply absolute top-[60px] left-2 flex flex-row cursor-pointer justify-center items-center pr-3 py-1 bg-(--prim-color) rounded-2xl;
                    
                svg {
                    @apply w-[50px] h-[50px] text-white;
                }
                p {
                    @apply text-white font-bold font-(family-name:--nunito);
                }
            }
        }
    }

    /* Nav */

    #nav {
        @apply w-full h-[50px] fixed bg-(--prim-color) flex items-center justify-between px-5 z-50;

        ul {
            @apply flex flex-row gap-4;

            li {
                a {
                    @apply font-(family-name:--nunito) text-white font-bold;
                }
            }
        }

        #logout {
            @apply cursor-pointer font-(family-name:--nunito) text-white;
        }
    }

    /* Home */

    #home {
        @apply w-full h-full flex flex-col items-center justify-center;

        .title {
            @apply text-4xl font-(family-name:--newsreader);
        }

        .modules {
            @apply border-2 mt-10 rounded-lg;

            a {
                @apply flex flex-col justify-center items-center p-10;

                svg {
                    @apply w-[90px] h-[90px];
                }
            }
        }
    }

    /* Products */

    #products-page {
        @apply w-full pt-22 flex justify-center;


        .add-button {
            @apply absolute bottom-8 right-8 flex flex-row cursor-pointer justify-center items-center pr-3 py-2 bg-(--prim-color) rounded-2xl;
                    
            svg {
                @apply w-[35px] h-[35px] pl-1 text-white;
            }
            p {
                @apply text-white font-bold font-(family-name:--nunito);
            } 
        }

        .products {
            @apply w-[90%];

            thead {
                @apply bg-(--prim-color);

                tr {
                    th {
                        @apply px-5 py-2 text-white font-(family-name:--newsreader) text-lg;
                    }
                }
            }

            tbody {
                @apply bg-(--table-rows-color);
                tr {
                    td {
                        @apply px-5 py-2 font-(family-name:--nunito) text-base text-center text-wrap;

                        div {
                            @apply flex items-center justify-center;
                            
                            img {
                                @apply w-[80px] h-[80px];
                            }
                        }
                
                    }
                }
            }
        }

        .modal-container {
            @apply fixed w-dvw h-dvh hidden justify-center items-center top-0 left-0 bg-(--modal-bg) z-100 backdrop-blur-sm;
            

            .modal-content {
                @apply bg-white flex flex-col justify-center items-center p-20 rounded-xl;
                box-shadow: 0 0 5px var(--shadow-color);
                animation: intro .15s ease-in;

                .highlight {
                    @apply font-bold text-(--highlight-text);
                }

                p {
                    @apply font-(family-name:--nunito) text-2xl text-center w-[350px];
                }

                .options {
                    @apply flex flex-row gap-4 mt-4;

                    button {
                        @apply cursor-pointer px-5 py-2 rounded-lg font-bold font-(family-name:--nunito);
                    }

                    .cancel {
                        @apply bg-(--neutral-button-bg);
                    }

                    .confirmation {
                        @apply bg-(--red-button-bg) text-white;
                    }
                }
            }
        }

        
    }

    #add-product {
        @apply w-full pt-22 flex justify-center;
    }
}

@keyframes intro {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
